body div div div {
    width: 5px;
    height: 5px;
    margin: 5px;
    background-color: black;
    border-radius: 100%;
}

body .wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap row;
}

body div .section {
    max-width: 6px;
    margin-left: 20px;
}

.blue {
    background-color: blue !important;
}

.red {
    background-color: red !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important;
}

.purple {
    background-color: purple !important;
}




/*
body div .section:nth-child(1) {
    padding-left: 15px;
}

body div .section:nth-child(2) {
    padding-left: 30px;
}

body div .section:nth-child(3) {
    padding-left: 45px;
}

body div .section:nth-child(4) {
    padding-left: 60px;
}

body div .section:nth-child(5) {
    padding-left: 75px;
}
*/